WORKERS_EMAIL_HOST="0.0.0.0" # => Maildev SMTP server for development
WORKERS_EMAIL_USER="dev@pathpipe.com"
WORKERS_EMAIL_PASS="specialdevpassword"
WORKERS_EMAIL_PORT=1025

WORKERS_PORT=4100

WORKERS_REDIS_HOST=redis
WORKERS_REDIS_PORT=6379
WORKERS_REDIS_PASSWORD=redis

WORKERS_API_URL="http://localhost:4000"
WORKERS_API_KEY="pk_..."
