WORKERS_DATABASE_USER="your_db_user"
WORKERS_DATABASE_PASS="your_db_password"
WORKERS_DATABASE_NAME="weaver"
WORKERS_DATABASE_HOST="localhost"
WORKERS_DATABASE_PORT=5432

WORKERS_EMAIL_HOST="0.0.0.0" # => Maildev SMTP server for development
WORKERS_EMAIL_USER="dev@weareweaver.org"
WORKERS_EMAIL_PASS="specialdevpassword"
WORKERS_EMAIL_PORT=1025

WORKERS_PORT=4100
