NEST_DATABASE_USER="your_db_user"
NEST_DATABASE_PASS="your_db_password"
NEST_DATABASE_NAME="mealbud_ai"
NEST_DATABASE_HOST="localhost"
NEST_DATABASE_PORT=5432

NEST_EMAIL_HOST="0.0.0.0" # => Maildev SMTP server for development
NEST_EMAIL_USER="dev@mealbud.ai"
NEST_EMAIL_PASS="specialdevpassword"
NEST_EMAIL_PORT=1025

NEST_JWT_SECRET="generate with openssl rand -base64 32"
NEST_JWT_EXPIRATION="7d"

NEST_FRONT_URL="http://localhost:3000"

NEST_GITHUB_CLIENT_ID="your_github_client_id"
NEST_GITHUB_CLIENT_SECRET="your_github_client_secret"
NEST_GITHUB_CALLBACK_URL="http://localhost:4000/auth/github/callback"